/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-weight: 400;
}
a:hover { text-decoration: none }

.section-padding{
    padding: 60px 0;
}

.single-service-item{
    border: 1px solid #ddd;
    margin-top: 60px;
}

.service-heading h2{
    font-weight: bold;
    text-transform: capitalize;
}

.service-img {
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative
}

 .bg-1{
    background-image: url(../img/service.jpg);
}

.service-img h4{
    color: #fff;
    background: #F97230;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: -20px;
    margin: 0;
}

.service-contant{
    padding: 30px;
    padding-top: 40px;
    text-align: center;
}

.service-contant p{
    line-height: 25px;
}

.service-btn{
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}